.divClass1 {
    position: absolute;
    top: 100px;
    left: 600px;
    right: 0px;
    bottom: 0px;
}
h1 {
    color: blueviolet;
}
.divClass2 {
    position: absolute;
    top: 300px;
    left: 200px;
    right: 0px;
    bottom: 0px;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
#thirdDiv img {
    width: 400px;
}
#thirdDiv {
    background-color: burlywood;
    height: 600px;
    width: 500px;
    padding: 50px;
    border-color: cadetblue;
    border-style:solid ;
    position: absolute ;
    left: 405px;
    top: 500px;
    right: 0px;
    bottom: 0px;
}
.body{
    background-image: url("https://th.bing.com/th/id/OIP.5UOQKkube-AId76Ay6LKdgHaE7?pid=ImgDet&rs=1");
    display: flex;
    justify-content: center;
}
.entrada {
    display: flex;
    justify-content: center;
}